@model IEnumerable<CadastroCashback.Models.Campanha>

@{
    ViewData["Title"] = "Campanhas cadastradas";
}
<div class="d-grid gap-2 d-md-flex justify-content-md-start">
    <a class="btn btn-primary" role="button" asp-controller="Cadastrados" asp-action="Criar">Criar</a>
</div>
</br>

<div class="text-center">
    <h1>Campanhas Cadastradas</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome da Campanha</th>
                <th scope="col">Data Inicial</th>
                <th scope="col">Data Final</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var campanha in Model.OrderByDescending(c => c.Id))
            {
                <tr>
                    <th scope="row">@campanha.Id</th>
                    <td>@campanha.Nome</td>
                    <td>@campanha.DataInicio.ToShortDateString()</td>
                    <td>@campanha.DataFim.ToShortDateString()</td>
                    <td><div><a type="button" class="btn btn-primary" asp-controller="Cadastrados" asp-action="Editar" asp-route-id="@campanha.Id">Editar</a></div></td>
                    <td><div><a type="button" class="btn btn-secondary" asp-controller="Cadastrados" asp-action="Visualizar" asp-route-id="@campanha.Id">Visualizar</a></div></td>
                    <td><div><a type="button" class="btn btn-danger" asp-controller="Cadastrados" asp-action="Deletar" asp-route-id="@campanha.Id">Deletar</a></div></td>
                </tr>
            }
        </tbody>
    </table>
</div>
